name: CMake Linux C++ CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up CMake
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake
      # Use CMake 3.x or higher, depending on your project's requirements.

    - name: Build and Test
      run: |
        mkdir build
        cd build
        cmake ..
        ninja
        ninja test
      # Customize these build and test commands according to your project's structure.

#    - name: Deploy
#      run: |
#        scp -r build/ user@your_server_ip:/path/to/destination
#      # Replace 'user' with your server's SSH username, 'your_server_ip' with the server's IP address, and '/path/to/destination' with the target directory on the server.
